# Database Configuration - EXAMPLE
# Copy this file to .env and update with your own values
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=workflow

# Application Configuration
SPRING_DATASOURCE_URL=url
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
SPRING_MAIN_ALLOW_BEAN_DEFINITION_OVERRIDING=true
